/* Membership Page Styling */
.membership-page {
<<<<<<< HEAD:src/pages/membershipPage.module.css
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

.membership-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.member-free,
.member-pro {
  flex: 1 1 45%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.member-free,
.member-pro {
  background-color: #f5f5f5;
  border-left: 5px solid #3498db;
}

.member-free h3,
.member-pro h3 {
  color: #34495e;
}

.membership-options {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.membership-card {
  flex: 1;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.membership-card h3 {
  color: #2c3e50;
  margin-bottom: 15px;
}

.membership-card p {
  font-size: 1.2rem;
  color: #d91656;
  margin-bottom: 15px;
}

.membership-card ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.membership-card ul li {
  margin-bottom: 10px;
}

.membership-card:nth-child(1) {
  background-color: #96ceb4;
  border-left: 5px solid #3498db;
}

.membership-card:nth-child(2) {
  background-color: #ffad60;
  border-left: 5px solid #2980b9;
}

.membership-card button {
  background-color: #4a628a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.membership-card button:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .membership-info,
  .membership-options {
    flex-direction: column;
    align-items: center;
  }

  .membership-card {
    width: 100%;
    margin-bottom: 20px;
  }
}
=======
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .membershipInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .memberFree, .memberPro {
    flex: 1 1 45%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .memberFree, .memberPro {
    background-color: #F5F5F5;
    border-left: 5px solid #3498db;
  }
  
  .memberFree h3, .memberPro h3 {
    color: #34495e;
  }
  
  .membershipOptions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
  }
  
  .membershipCard {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .membershipCard h3 {
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .membershipCard p {
    font-size: 1.2rem;
    color: #D91656;
    margin-bottom: 15px;
  }
  
  .membershipCard ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
  
  .membershipCard ul li {
    margin-bottom: 10px;
  }
  
  .membershipCard:nth-child(1) {
    background-color: #96CEB4;
    border-left: 5px solid #3498db;
  }
  
  .membershipCard:nth-child(2) {
    background-color: #FFAD60;
    border-left: 5px solid #2980b9;
  }
  
  .membershipCard button {
    background-color: #4A628A;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .membershipCard button:hover {
    background-color: #2980b9;
  }
  
  @media (max-width: 768px) {
    .membershipInfo, .membership-options {
      flex-direction: column;
      align-items: center;
    }
  
    .membershipCard {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
>>>>>>> 5835a98fa8020f383a5e0e455da45d324864e785:src/pages/Membership/membershipPage.module.css
